<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\TechSupport.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="userAccountDB" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ASPNETDB.MDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  
  
    <system.web>
      <authentication mode="Forms" />
      <roleManager enabled="true" />
      <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">

        <providers>

          <clear />
          <add name="XmlSiteMapProvider" description="Default Site Provider" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true"></add>

        </providers>
      </siteMap>
      
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />




    </system.web>


  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  
  

</configuration>
